{% extends 'input.html.twig' %}
{% block wrapper_opening %}
{{ attach_library('lp_fontawesome/fontawesome') }}
<div class="control has-icons-left">
{% endblock %}
{% block icon %}
  <span class="icon is-left">
    <i class="fas fa-weight-hanging"></i>
  </span>
{% endblock %}
