{% extends 'select.html.twig' %}
{% block prefix %}
{{ attach_library('lp_fontawesome/fontawesome') }}
 <div class="control has-icons-left">
{% endblock %}
{% block suffix %}
<div class="icon is-left">
  <i class="fas fa-user-circle"></i>
</div>
 </div>
{% endblock %}
