{#
/**
 * @file
 * theme implementation to multivaluefield.
 *
 * Available variables:
 * - data: Field data Array.
 * - header: Fields labled list (Array).
 * - attributes : Fields wrapper div attributes.
 *
 * @ingroup themeable
 */
#}
{%- if data -%}
    <div{{ attributes }}>
        {%- for key, item in data -%}
            {%- if data -%}
                <div class="label">{{ header[key] }}</div>
            {%- endif -%}
            <div class="field-{{ key }}">
                {{ item }}
            </div>
        {%- endfor -%}
    </div>
{%- endif -%}
