{#
/**
 * @file redhen_liability.html.twig
 * Default theme implementation to present Liability data.
 *
 * This template is used when viewing Liability pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_redhen_liability()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('redhen_liability') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
