$base-font-size: 16px;
$base-line-height: 24px;
$base-color: #7939b9;
$white: #ffffff;
$black: #333333;
$border-color: #e7e7ed;
$primarybg: #430064;
$breadcrumb-bg: #e7e7ed;
$footer-bg: #f7f7f7;
$category-bg: #f8f8fa;
$price-red: #ff4032;
$rate_yellow: #ffbf14;
$hover_blue: #3284ff;
$light-purple: #ba32ff;
$zurb_primary: #1779ba;

// Device width
$small: 39.9375em;
$small-up: 47.9375em;
$large: 64em;
$medium: 63.9375em;
$extra-large: 74.9375em;
