.inline-group,
.inline-group__content {
  position: relative;
}

.inline-group.overflow-hidden {
  overflow: hidden;
}

.inline-group.overflow-scroll {
  overflow: scroll;
}

.inline-group__item {
  display: inline-block;
  margin: 0.375em 0;
}

.inline-group__item > .form-item,
.inline-group__item > .container-inline > .form-item {
  margin: 0.375em 0;
}

.inline-group__content:not(.no-wrap) > .inline-group__item > .form-item,
.inline-group__content:not(.no-wrap) > .inline-group__item > .container-inline > .form-item {
  margin: 0;
}

.inline-group__content.gutter-auto {
  margin-left: -2px;
  margin-right: -2px;
}

.inline-group__content.gutter-auto > .inline-group__item {
  padding: 0 2px;
}

.inline-group__content.no-wrap.gutter-auto {
  margin-left: -0.375em;
  margin-right: -0.375em;
}

.inline-group__content.no-wrap.gutter-auto > .inline-group__item {
  padding: 0 0.375em;
}

.inline-group__content.no-wrap > .inline-group__item {
  display: table-cell;
}

.inline-group__content.valign-top > .inline-group__item,
.inline-group__content > .inline-group__item.valign-top {
  vertical-align: top;
}

.inline-group__content.valign-middle > .inline-group__item,
.inline-group__content > .inline-group__item.valign-middle {
  vertical-align: middle;
}

.inline-group__content.valign-bottom > .inline-group__item,
.inline-group__content > .inline-group__item.valign-bottom {
  vertical-align: bottom;
}

.inline-group__item.width-auto > .form-item > input:not([type='hidden']):not([type='checkbox']):not([type='radio']):not([type='button']):not([type='submit']):not([type='reset']),
.inline-group__item.width-auto > .container-inline > .form-item > input:not([type='hidden']):not([type='checkbox']):not([type='radio']):not([type='button']):not([type='submit']):not([type='reset']),
.inline-group__item.width-auto > input:not([type='hidden']):not([type='checkbox']):not([type='radio']):not([type='button']):not([type='submit']):not([type='reset']),
.inline-group__item.width-custom > .form-item > input:not([type='hidden']):not([type='checkbox']):not([type='radio']):not([type='button']):not([type='submit']):not([type='reset']),
.inline-group__item.width-custom > .container-inline > .form-item > input:not([type='hidden']):not([type='checkbox']):not([type='radio']):not([type='button']):not([type='submit']):not([type='reset']),
.inline-group__item.width-custom > input:not([type='hidden']):not([type='checkbox']):not([type='radio']):not([type='button']):not([type='submit']):not([type='reset']),
.inline-group__item.width-auto > .form-item > select,
.inline-group__item.width-auto > .container-inline > select,
.inline-group__item.width-auto > select,
.inline-group__item.width-custom > .form-item > select,
.inline-group__item.width-custom > .container-inline > select,
.inline-group__item.width-custom > select {
  width: 100%;
}

.inline-group__item.field--widget-media-library-widget.cardinality-1 .media-library-item--grid {
  width: auto;
  margin: 0 auto;
}

@media screen and (max-device-width: 640px) {
  .inline-group__content.mobile-stack > .inline-group__item {
    display: block;
    max-width: none !important;
    min-width: initial !important;
    width: auto !important;
  }
}
