.contact-message-feedback-form {
  .contact-block {
    display: flex;
    flex-direction: column;
    @media (min-width: $screen-md-min) {
      flex-direction: row;
    }
  }
  #contact-message-feedback-form {
    display: flex;
    flex-direction: column;
    padding-bottom: rem-calc(15);
    margin-top: rem-calc(30);
    @media (min-width: $screen-sm-min) {
      margin-top: 0;
      padding: rem-calc(0) rem-calc(10) rem-calc(55);
    }
    @media (min-width: $screen-md-min) {
      padding: rem-calc(10) rem-calc(20) rem-calc(95)
    }
    .label-contact-us-txt {
      padding: rem-calc(35) 0;
      margin: 0;
      @media (min-width: $screen-sm-min) {
        margin: rem-calc(20) 0 rem-calc(40) 18%;
      }
      @media (min-width: $screen-md-min) {
        margin-left: 34%;
        font-size: rem-calc(20);
        line-height: rem-calc(36);
        padding: 0;
      }
    }
    .row-contact-us {
      @media (min-width: $screen-md-min) {
        display: flex;
        flex-direction: row;
      }
    }
    .label-form-user {
      @extend h2;
      font-family: $font-montserrat;
      font-size: rem-calc(32);
      font-weight: 400;
      line-height: rem-calc(39);
      margin: rem-calc(0 10 5 0);
      padding-bottom: rem-calc(24);
      @media (min-width: $screen-sm-min) {
        margin-top: rem-calc(0);
      }
      @media (min-width: $screen-lg-min) {
        display: flex;
        font-size: rem-calc(48);
        justify-content: flex-end;
        margin: rem-calc(10) rem-calc(35) 0 14%;
      }
    }
    .form-actions .btn {
      margin-top: rem-calc(22);
      @media (min-width: $screen-sm-min) {
        margin-top: rem-calc(27);
      }
    }
    .form-group {
      margin-bottom: rem-calc(24);
      @media(min-width: $screen-sm-min) {
        min-height: 75px;
      }
    }
    .form-item {
      display: flex;
      flex-direction: column;
    }
    .field--name-message {
      margin-top: rem-calc(18);
      @media (min-width: $screen-sm-min) {
        margin-top: 0;
      }
    }
    .captcha {
      margin-left: rem-calc(-10);
      @media (min-width: $screen-xs-min) {
        margin-left: 0;
      }
    }
  }
}
