#block-views-block-testimonials-block-1 {
  overflow: hidden;
}
.testimonials {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    margin: rem-calc(0 -20);
    padding: rem-calc(0 20 55);
  }
  @media (min-width: $screen-md-min) {
    padding: rem-calc(10 0 40 0);
  }

  > .row {
    @media (min-width: $screen-lg-min) {
      margin: 0 auto;
      padding: rem-calc(0 15);
    }
  }

  .view-title {
    padding: rem-calc(0 15 24);
    @media (max-width: $screen-md-max) {
      width: 100%;
    }
    @media (min-width: $screen-sm-min) {
      padding: rem-calc(35 0 24 20);
    }
    @media (min-width: $screen-lg-min) {
      display: flex;
      justify-content: flex-end;
      margin: rem-calc(-5) 0 rem-calc(-15);
      padding: 0 rem-calc(25);
      max-width: 700px;
    }
  }

  .view-body {
    @media (max-width: $screen-md-max) {
      width: 100%;
    }
  }
  .cards {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-sm-min) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: rem-calc(0 -15 0 -10);
    }
    @media (min-width: $screen-md-min) {
      margin: rem-calc(0 -30 0 0);
    }
    @media (min-width: $screen-lg-min) {
      margin: rem-calc(0 -10 0 -30);
    }
  }

  .views-row {
    background-color: $white;
    border-radius: rem-calc(0 0 48 0);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-wrap: wrap;
    margin: rem-calc(0 0 20);
    padding: rem-calc(24);
    @media (min-width: $screen-sm-min) {
      max-width: 345px;
      width: 50%;
    }
    @media (min-width: $screen-md-min) {
      margin-bottom: rem-calc(30);
      max-width: 370px;
    }
    &:nth-child(odd) {
      @media (min-width: $screen-sm-min) {
        margin-right: rem-calc(20);
      }
      @media (min-width: $screen-md-min) {
        margin-right: rem-calc(30);
      }
    }
  }
  .field-image {
    border-radius: rem-calc(0 0 25 0);
    height: 65px;
    margin-bottom: rem-calc(34);
    overflow: hidden;
    width: 65px;
    img {
      transform: scale(1.2);
    }
  }

  .field-header {
    display: flex;
    margin: 0;
    width: 100%;

    .description {
      margin-left: rem-calc(15);
    }

    .field-name {
      font-family: $font-lato;
      font-size: rem-calc(20);
      font-weight: bold;
      line-height: rem-calc(28);
      margin: rem-calc(0 0 15 0);
    }

    .field-role {
      font-family: $font-lato;
      font-size: rem-calc(16);
      line-height: rem-calc(19);
    }
  }

  .field-body {
    font-family: $font-lato;
    font-size: rem-calc(20);
    line-height: rem-calc(28);
    margin: 0;
  }
}
