.banana-dashboard-menu-link {
    width: 100px;
    height: 40px;
    background-position: center 5px;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 60px 10px 10px 10px;
    margin: 10px 20px;
    border: 1px solid #efefef;
    text-align: center;
    text-decoration: none;
    color: #333333 !important;
    text-transform: capitalize;
    font-weight: bold;
    overflow: hidden;
    padding: 5px;
    min-height: 80px;
    margin: auto;
}

.banana-dashboard-menu-link:hover {
    border: 1px solid #aadddd;
    background-color: #efefef;
    cursor: pointer;
}

.banana-dashboard-menu-link i{
    font-size: 35px;
}

.banana_dashboard_menu {
    list-style: none;
}

.banana_dashboard_menu li {
    display: inline-block;
    margin: 0px;
    overflow: hidden;
}

.banana-dashboard-font-size-small {
    font-size: 10px;
}

