{#
/**
 * @file
 * Drulma theme implementation for a link to a pdf file.
 */
#}

{{ attach_library('lp_fontawesome/fontawesome') }}
<i class="fas fa-file-pdf"></i>
<span{{ attributes.removeClass('file') }}>{{ link }}</span>
