<div id="myModal-block" class="modal" style="display: block;">
    <!-- Modal content -->
    <div id="myModal-block" class="modal-content" style="background: #efefef;">
        <span class="modal-block-close">×</span>
        <div class="modal-content-wrapper-main">
            {{ block }}
        </div>
    </div>
</div>
