#ifthenelserule-edit-form select,
#ifthenelserule-edit-form input,
#ifthenelserule-add-form select,
#ifthenelserule-add-form input {
  border-radius: 30px;
  background-color: white;
  padding: 2px 6px;
  border: 1px solid #999;
  font-size: 110%;
  width: 170px;
}

#ifthenelserule-edit-form input#edit-active,
#ifthenelserule-add-form input#edit-active {
  width: auto;
}

#ifthenelserule-edit-form .node .control input,
#ifthenelserule-edit-form .node .input-control input,
#ifthenelserule-add-form .node .control input,
#ifthenelserule-add-form .node .input-control input {
  width: 140px;
}

#ifthenelserule-edit-form .node .control input[type="radio"],
#ifthenelserule-add-form .node .control input[type="radio"] {
  width: auto;
}

#ifthenelserule-edit-form .node .control input[type="checkbox"],
#ifthenelserule-add-form .node .control input[type="checkbox"] {
  margin: 15px 0;
  width: auto;
}

#ifthenelserule-edit-form .node .control div.radio label,
#ifthenelserule-add-form .node .control div.radio label {
  display: inline;
}

#ifthenelserule-edit-form svg.connection,
#ifthenelserule-add-form svg.connection {
  width: 12px;
  height: 12px;
}

#ifthenelserule-edit-form #rete-editor,
#ifthenelserule-add-form #rete-editor {
  position: relative;
  display: block;
  overflow: visible !important;
  min-height: 500px;
}

#ifthenelserule-edit-form #edit-actions,
#ifthenelserule-add-form #edit-actions {
  float: right;
}

#ifthenelserule-edit-form #edit-rete-container div.container,
#ifthenelserule-add-form #edit-rete-container div.container {
  overflow: hidden;
  background-image: url(https://pixy.org/src/236/thumbs350/2360386.jpg);
  height: 80vh;
  min-height: 50vh;
  max-height: 80vh;
}

#ifthenelserule-edit-form #edit-rete-container .dock,
#ifthenelserule-add-form #edit-rete-container .dock {
  float: left;
  width: 250px;
  margin-right: 10px;
  height: 80vh;
  min-height: 50vh;
  max-height: 80vh;
  overflow: scroll;
}

#ifthenelserule-edit-form #edit-rete-container .dock #search-container,
#ifthenelserule-add-form #edit-rete-container .dock #search-container {
  border: 1px solid #dbdbdb;
  border-bottom: 0;
}

#ifthenelserule-edit-form #edit-rete-container .dock .search-wrapper,
#ifthenelserule-add-form #edit-rete-container .dock .search-wrapper {
  padding: 0 0 0 5px;
}

#ifthenelserule-edit-form #edit-rete-container .dock input,
#ifthenelserule-add-form #edit-rete-container .dock input {
  border-radius: 0;
  border-width: 0;
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 0;
}

#ifthenelserule-edit-form #edit-rete-container .dock ul,
#ifthenelserule-add-form #edit-rete-container .dock ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}

#ifthenelserule-edit-form #edit-rete-container .dock ul li,
#ifthenelserule-add-form #edit-rete-container .dock ul li {
  padding: 5px;
  height: 19px;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-sizing: unset;
  box-sizing: unset;
}

#rete-editor .node_info{
  -webkit-box-sizing: unset;
  box-sizing: unset;
}

#ifthenelserule-edit-form #edit-rete-container .dock ul li:not(:last-child),
#ifthenelserule-add-form #edit-rete-container .dock ul li:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
}

#ifthenelserule-edit-form #edit-rete-container .dock ul li:hover,
#ifthenelserule-add-form #edit-rete-container .dock ul li:hover {
  background-color: #eee;
}

#edit-rete-container .editor .dock ul li.Action {
  border-left: 2px solid #34a853;
}
#edit-rete-container .editor .dock ul li.Condition {
  border-left: 2px solid #d3d3d3;
}
#edit-rete-container .editor .dock ul li.Event {
  border-left: 2px solid #ea4235;
}
#edit-rete-container .editor .dock ul li.Value {
  border-left: 2px solid #4286f5;
}
.ifthenelserule-form .container-inline .form-item-label label:after,
.ifthenelserule-form .container-inline .form-item-active label:after {
  content: '';
}
.ifthenelserule-form .container-inline .form-item-active {
  margin-left: 5px;
}
.ifthenelserule-form .container-inline .form-item-active input {
  vertical-align: middle;
}
#ifthenelse_form_wrapper {
  background: #ffffff;
}
#ifthenelse_form_wrapper .search-wrapper input:focus {
  outline: 0px;
}
#ifthenelse_form_wrapper .form-actions #edit-clone {
  float: left;
}
#ifthenelse_form_wrapper #edit-full-screen-button {
  border: 0px;
  width: 50px;
  position: absolute;
  z-index: 9;
  right: 33px;
  border-radius: 0px;
  outline: none;
  background: none;
}
#ifthenelse_form_wrapper.enable #edit-full-screen-button {
  right: 0px;
}
#ifthenelse_form_wrapper.enable .label_checkbox_section,
#ifthenelse_form_wrapper.enable #edit-actions {
  display: none;
}
#ifthenelse_form_wrapper.enable form,
#ifthenelse_form_wrapper.enable #edit-rete-container,
#ifthenelse_form_wrapper.enable #edit-rete-container .editor,
#ifthenelse_form_wrapper.enable .editor .dock,
#ifthenelse_form_wrapper.enable .editor .container,
#ifthenelse_form_wrapper.enable .editor .container #rete-editor {
  height: 100%  !important;
  min-height: 100%  !important;
  max-height: 100%  !important;
}
#ifthenelse_form_wrapper.enable .editor .dock,
#ifthenelse_form_wrapper.enable .editor .container,
#ifthenelse_form_wrapper.enable .editor .container #rete-editor {
  height: 100vh !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
}
#ifthenelse_form_wrapper.enable {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
  max-width: 200px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}
#rete-editor .fields-container .input {
  resize: none;
  border: 0px;
}

#rete-editor .expend_textarea_button {
  background: url(images/resize-icon.png) no-repeat;
  font-size: 0px;
  position: absolute;
  z-index: 999;
  width: 30px;
  height: 30px;
  top: 107px;
  right: 1px;
}
.vuesax-app-is-ltr .vs-popup--close {
  -webkit-transform: none;
  transform: none;
  margin-right: 10px;
  padding: 4px;
  background: #08639b !important;
  color: #fff;
}

.vuesax-app-is-ltr .vs-popup--close:hover {
  -webkit-transform: none;
  transform: none;
  opacity: 0.5;.
  color: #000;
}

.vs-popup .vs-popup--title {
  padding-left: 15px;
}
.vuesax-app-is-ltr .vs-popup--content {
  padding: 14px 28px;
}
.vs-button-primary.vs-button-filled {
  padding: 10px 35px;
  border-radius: 0;
}
