{#
/**
 * @file
 * total appointment block.
 */
#}
 <div class="col-sm-3 appointment-summary--block">
    <ul>
    <li>
      <span class="tvalue">{{ total_appointments }}</span>
      <span class="totalvisit">Total Visits</span> 
    </li>
    <li>
      <span class="cvalue">{{ confirmed_appointments }}</span>
      <span class="confirmapp">Confirmed Visists</span>
    </li>
    </ul>
 </div>