// SASS Mixins
@mixin flex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin josefin {
  font-family: 'Josefin Sans', sans-serif;
}

// Media Query for small devices
@mixin small-only {
  @media screen and (max-width: $small) {
    @content;
  }
}

// Media Query for large devices
@mixin above-large {
  @media screen and (min-width: $large) {
    @content;
  }
}

