{#
/**
 * @file
 * Drulma theme implementation for a form element label.
 */
#}
{%
  set classes = [
    'label',
    'control-label',
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form-required',
    required ? 'form-required',
  ]
%}
{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>{{ title }}</label>
{%- endif %}
