{#
/**
 * @file
 * Drulma theme implementation for an submit 'input' #type form element.
 *
 * The text of this submit is 'remove.'
 */
#}
<div class="control">
  <input{{ attributes.addClass('is-danger') }} />{{ children }}
</div>
