{#
/**
 * @file
 *
 * Empty cart page template.
 *
 * @ingroup themeable
 */
#}
<div class="cart-empty-page cart-empty-page-wrapper">
  <div class="row align-center texst-center">
    <div class="columns">
      <img src="/{{ directory }}/assets/images/empty-cart-icon.png"/>
      <h2>{{ 'Your shopping cart is empty.'|t }}</h2>
      <div class="back-to-home-wrapper"><a href="/" class="back-to-home"/>{{ 'Continue Shopping'|t }}</a>
    </div>
  </div>
</div>
</div>
